<!DOCTYPE html>
<html>
  <head>
    <title>Movie Filters</title>
  </head>
  <body>
    <h1>View Top 50 Word Frequencies</h1>
    <form action="/plot-frequencies" method="get">
      <button type="submit">Plot Frequencies</button>
    </form>

    <!-- <h1>Filter Movies</h1>
    <form action="/" method="post">
      Genre: <input type="text" name="genre" /><br />
      Minimum Year: <input type="number" name="min_year" /><br />
      Maximum Year: <input type="number" name="max_year" /><br />
      Minimum Rating: <input type="number" step="0.1" name="min_rating" /><br />
      <input type="submit" value="Submit" />
    </form> -->

    <h1>Enter your movie query</h1>
    <form action="/movie-query" method="post">
      Query: <input type="text" name="query" />
      <input type="submit" value="Search" />
    </form>
  </body>
</html>
